/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */
$primaryColor: #c93e0b;
$secondaryColor: #ee906e;
// $secondaryColor: #e3734a;
$white: #ffffff;
$black: #000000;

/* ----------------------------------------------------------------------------
 * Fonts
 * ------------------------------------------------------------------------- */

$font-family: 'Montserrat', Helvetica, Arial, sans-serif;

$font-size-s: 18px;
$font-size-m: 24px;
$font-size-l: 40px;
$font-size-xxl: 200px;

// $font-size-mobile: 19px;
// $font-size-s: 22px;
//
// $font-size-l: 50px;

$line-height-default: 1.3;
$line-height-heading: 0.9;

//layout
$gutter: 40px;

//breakpoints

$breakpoint-desktop: 1024;
$breakpoint-tablet: 992;
$breakpoint-phone-landscape: 768;
$breakpoint-phone-portrait: 480;

/* ----------------------------------------------------------------------------
 * Primary Color Variants
 * ------------------------------------------------------------------------- */

$color--primary: #c93e0b;
